[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = v3_req

[ dn ]
CN = system:node:{{ hostname }}.project.local
O = system:nodes

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ hostname }}
DNS.2 = k8smaster.project.local
IP.1 = 127.0.0.1
IP.2 = {{ master_ip }}
