apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: "{{ cert_dir }}/ca.crt"
    server: https://{{ master_ip }}:6443
  name: "{{ kub_cluster }}"
contexts:
- context:
    cluster: "{{ kub_cluster }}"
    user: admin
  name: default
current-context: default
users:
- name: admin
  user:
    client-certificate: "{{ cert_dir }}/admin.crt"
    client-key: "{{ cert_dir }}/admin.key"
    embed-certs: true
