apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: "{{ cert_dir }}/ca.crt"
    server: https://{{ master_ip }}:6443
  name: "{{ kub_cluster }}"
contexts:
- context:
    cluster: "{{ kub_cluster }}"
    user: system:kube-scheduler
  name: default
current-context: default
users:
- name: system:kube-scheduler
  user:
    client-certificate: "{{ cert_dir }}/kube-scheduler.crt"
    client-key: "{{ cert_dir }}/kube-scheduler.key"
